@model IEnumerable<FallFinal_2.Models.Movie>
@{
    ViewBag.Title = "Home Page";
}

@section Javascript{
    <script type="text/javascript" src="~/Scripts/Custom.js"></script>
    }

<div class="jumbotron">
   Welcome to the New IMDB! 
</div>
<h2>We have updated our servers to provide free reliable slowness in compliance with the repeals in Net Neutrality</h2>


<h3>Would you like to see what movies each actor is in? Select a button below to display that!</h3>
<br />
<div class="row">
    @foreach (var item in Model.ToList())
    {
        <div class="col-md-4">
            <button onclick="JavaAJAX('@item.M_ID');">@item.M_Name</button>
        </div>
    }
    </div>

    <br />
    <br />
    <div id="landing_zone"></div>

