@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <h1><b>Reginald's Ancient Antiquities Auction House</b></h1>
</div>

<h2>This Auction house carries the items you will love to place on your mantel. Our commision is lower than all of our competitors!</h2>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("View Items", "/Items")</h2>
    </div>
    <div class="col-md-4">
        <h2>Already know what you're here for? @Html.ActionLink("Bid on an ITEM!", "/CreateBid")</h2>
    </div>
    <div class="col-md-4">
     
    </div>
</div>